#forms-table-div {
	width:50%;
	margin:auto;
	text-align:center;
}

#forms-table {
	text-align:center;
}
#forms-icon-cell {
	padding-bottom: 0;
	padding-top: 7.5%;
}

#forms-label-cell {
	padding-top: 0;
}

#forms-h1 {
	text-align:left;
}